body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, var(--color-shade-3), var(--color-shade-5));
  color: var(--color-shade-5);
  overflow: hidden;
  font-size: 1.2em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /* main color set */
  --color-shade-0: #FFFFFF;

  /* https://www.reasonable.work/colors/azure/ */
  --color-shade-1: #E8F2FF;
  --color-shade-2: #C6E0FF;
  --color-shade-3: #008FDB;
  --color-shade-4: #0071AF;
  --color-shade-5: #003B5E;
  --color-shade-6: #001C30;

  /* https://www.reasonable.work/colors/amber/ */
  --color-complementary-shade-1: #FFF8EF;
  --color-complementary-shade-2: #FFE0B2;
  --color-complementary-shade-3: #B98300;
  --color-complementary-shade-4: #926700;
  --color-complementary-shade-5: #523800;
  --color-complementary-shade-6: #302100;

  /* https://www.reasonable.work/colors/yellow */
  --color-split-complementary-1-shade-1: #FFF9E5;
  --color-split-complementary-1-shade-2: #FFE53E;
  --color-split-complementary-1-shade-3: #9C8B00;
  --color-split-complementary-1-shade-4: #7D6F00;
  --color-split-complementary-1-shade-5: #463D00;
  --color-split-complementary-1-shade-6: #292300;

  /* https://www.reasonable.work/colors/cinnamon */
  --color-split-complementary-2-shade-1: #FFF8F3;
  --color-split-complementary-2-shade-2: #FFDFC6;
  --color-split-complementary-2-shade-3: #D57300;
  --color-split-complementary-2-shade-4: #AC5C00;
  --color-split-complementary-2-shade-5: #633300;
  --color-split-complementary-2-shade-6: #371D00;

  --spacing-outline: 0.25em;
}

input, button {
  font-size: 1.4rem;
  border-radius: 2em;
  padding: 1em;
  border: .2em solid black;
  background: var(--color-shade-0);
  font-weight: bold;
}

*:focus {
  outline: var(--spacing-outline) solid var(--color-split-complementary-1-shade-2);
}

input {
}

label {
  display: block;
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: .3rem;
}

button {
  background: var(--color-split-complementary-2-shade-3);
  color: var(--color-shade-0);
  cursor: pointer;
}

hr {
  border: .1rem solid var(--color-shade-6);
}

main {
  max-width: 32em;
  border: .2em solid var(--color-shade-4);
  background: var(--color-shade-0);
  border-radius: 1em;
  padding: 1em;
  margin: 1em auto;
}
