body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-shade-6);
  color: var(--color-split-complementary-2-shade-1);
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /* main color set */

  /* https://www.reasonable.work/colors/azure/ */
  --color-shade-1: #E8F2FF;
  --color-shade-2: #C6E0FF;
  --color-shade-3: #008FDB;
  --color-shade-4: #0071AF;
  --color-shade-5: #003B5E;
  --color-shade-6: #001C30;

  /* https://www.reasonable.work/colors/amber/ */
  --color-complementary-shade-1: #FFF8EF;
  --color-complementary-shade-2: #FFE0B2;
  --color-complementary-shade-3: #B98300;
  --color-complementary-shade-4: #926700;
  --color-complementary-shade-5: #523800;
  --color-complementary-shade-6: #302100;

  /* https://www.reasonable.work/colors/yellow */
  --color-split-complementary-1-shade-1: #FFF9E5;
  --color-split-complementary-1-shade-2: #FFE53E;
  --color-split-complementary-1-shade-3: #9C8B00;
  --color-split-complementary-1-shade-4: #7D6F00;
  --color-split-complementary-1-shade-5: #463D00;
  --color-split-complementary-1-shade-6: #292300;

  /* https://www.reasonable.work/colors/cinnamon */
  --color-split-complementary-2-shade-1: #FFF8F3;
  --color-split-complementary-2-shade-2: #FFDFC6;
  --color-split-complementary-2-shade-3: #D57300;
  --color-split-complementary-2-shade-4: #AC5C00;
  --color-split-complementary-2-shade-5: #633300;
  --color-split-complementary-2-shade-6: #371D00;
}
