body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, var(--color-shade-3), var(--color-shade-5));

  @media (prefers-color-scheme: dark) {
    background: linear-gradient(to right, var(--color-shade-1), var(--color-shade-2));
  }
  color: var(--color-shade-5);
  overflow: hidden;
  font-size: 1.2em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input, button {
  font-size: 1.4rem;
  border-radius: 2em;
  padding: 1em;
  border: .2em solid var(--color-shade-7);
  background: var(--color-shade-0);
  font-weight: bold;
}

*:focus {
  /* todo: choose better outline color, on dark mode it has a bad contrast */
  outline: var(--spacing-outline) solid var(--color-split-complementary-1-shade-2);
  @media (prefers-color-scheme: dark) {
    outline-color: var(--color-split-complementary-1-shade-4);
  }
}

input {
  color: var(--color-shade-7);
}

label {
  display: block;
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: .3rem;
}

button {
  background: var(--color-triadic_2-4);
  color: var(--color-shade-0);
  cursor: pointer;
}

hr {
  border: .1rem solid var(--color-shade-6);
}

main {
  max-width: 32em;
  border: .2em solid var(--color-shade-4);
  background: var(--color-shade-0);
  border-radius: 1em;
  padding: 1em;
  margin: 1em auto;
}
